<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ceiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,188},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>font_big.psd</key>
            <dict>
                <key>frame</key>
                <string>{{184,484},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,484},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,254},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,446},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_big_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>font_small.psd</key>
            <dict>
                <key>frame</key>
                <string>{{155,454},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,454},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,116},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{6,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,454},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,454},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,454},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,348},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,334},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,320},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,306},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>font_small_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,292},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medal_bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,400},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,354},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_platinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,408},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medal_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,362},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>pipe-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,170},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>pipe-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,116},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>pipe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{48,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,1}}</string>
                <key>sourceSize</key>
                <string>{52,1}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{115,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,70}}</string>
                <key>sourceSize</key>
                <string>{115,70}</string>
            </dict>
            <key>scoreboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,116},{236,178}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{236,178}}</string>
                <key>sourceSize</key>
                <string>{236,280}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{276,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,109}}</string>
                <key>sourceSize</key>
                <string>{276,109}</string>
            </dict>
            <key>splash.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{188,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,170}}</string>
                <key>sourceSize</key>
                <string>{188,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45475b8e9025bd0185ad43ec8f0c2a46:36a7dbe8ac6f2cc5fa1b3afc688098ef:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
